<!-- FOOTER -->
<footer id="footer">
    <!-- top footer -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">
                            <a href="https://drive.google.com/file/d/1hXqxj2TeLpW3efurQlbe4nJGBkm2ym_K/view?usp=sharing">About Us</a>
                        </h3>
                        <p>I'm Vishakha V. I'm studying 5th sem of Information Science and Engineering in The National Institute of Engineering, Mysore. This web application was built as a part of learning Anuguar. </p>
                        <ul class=" footer-links ">
                            <li><a href="https://www.google.co.in/maps/place/13%C2%B000'26.1%22N+76%C2%B007'03.0%22E/@13.0072427,76.1153056,17z/data=!3m1!4b1!4m9!1m2!10m1!1e2!3m5!1s0x3ba54843aaaa95c5:0x0!7e2!8m2!3d13.0072427!4d76.1174943?hl=en"><i class="fa fa-map-marker "></i>#129,"Ashirwad ",SBM Colony,B Katihalli,Hassan,Karnataka,India,573201</a></li>
                            <li><a href="# "><i class="fa fa-phone "></i>+916361724765</a></li>
                            <li><a href="# "><i class="fa fa-envelope-o "></i>vishakhav965@gmail.com</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer ">

                </div>
                <div class="footer ">

                </div>
                <div class="clearfix visible-xs "></div>
                <div class="col-md-3 col-xs-6 ">
                    <div class="footer ">
                        <h3 class="footer-title ">Service</h3>
                        <ul class="footer-links ">
                            <li><a href="/cart ">My Account</a></li>
                            <li><a href="/cart ">View Cart</a></li>
                            <li><a href="https://www.linkedin.com/in/vishakha-v-4825b4163/ ">Help</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /top footer -->

    <!-- bottom footer -->
    <div id="bottom-footer " class="section ">
        <div class="container ">
            <!-- row -->
            <div class="row ">
                <div class="col-md-12 text-center ">
                    <ul class="footer-payments ">
                        <li><a href="# "><i class="fa fa-cc-visa "></i></a></li>
                        <li><a href="# "><i class="fa fa-credit-card "></i></a></li>
                        <li><a href="# "><i class="fa fa-cc-paypal "></i></a></li>
                        <li><a href="# "><i class="fa fa-cc-mastercard "></i></a></li>
                        <li><a href="# "><i class="fa fa-cc-discover "></i></a></li>
                        <li><a href="# "><i class="fa fa-cc-amex "></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- NEWSLETTER -->
    <div id="newsletter " class="section ">
        <div class="container ">
            <div class="row ">
                <div class="col-md-12 ">
                    <div class="newsletter ">
                        <!--<p>Sign Up for the <strong>NEWSLETTER</strong></p>
                    <form>
                        <input class="input " type="email " placeholder="Enter Your Email ">
                        <button class="newsletter-btn "><i class="fa fa-envelope "></i> Subscribe</button>
                    </form>-->
                        <ul class="newsletter-follow ">
                            <li>
                                <a href="https://www.facebook.com/vishakha.venugopal.14"><i class="fa fa-facebook "></i></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/VishakhaVenugo2"><i class="fa fa-twitter "></i></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/vishakha-v-4825b4163/"><i class="fa fa-linkedin "></i></a>
                            </li>
                            <li>
                                <a href="https://github.com/Vishakhavenugopal"><i class="fa fa-github "></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /NEWSLETTER -->
    <!-- /bottom footer -->
</footer>
<!-- /FOOTER -->